h1, ul, li, p {
    display: inline;
}

li {
    padding: 10px;
    margin: 10px;
    color: rgb(30,48,80);
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    padding: 1px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    margin: 0;
}

    li:hover {
        color: #0168FC;
    }

    li:active {
        background: #0168FC;
        color: white;
    }

    li::after {
        background: #0168FC;
        color: white;
    }

header {
    top: 0;
    width: 100%;
    height:80px;
    text-align:center;
}

body{
    margin:10px;
    margin-bottom:0;
}

.hovered-btn {
    border: 1px solid #CBD7E8;
}

    .hovered-btn:active {
        background: #0168FC;
        color: white;
    }

#icon{
    margin-right:60px;
    margin-left:0px;
}

#primary-btn{
    display: inline-flex;
    padding: 1px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    background: #0168FC;
    margin-right: 0px;
    color: white;
}

    #primary-btn:hover {
        color: rgb(30,48,80);
    }

#chevron{
    margin-right:5px;
}

#secondary-btn {
    margin-left: 110px;
}

#big-div {
    background: #0168FC;
    width:100%;
    height:500px;
    align-items:center;
    border-radius:32px;
    justify-content:center;
}

h1{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:200;
    font-size:45px;
}

#text{
    color:white;
    font-family:Calibri;
}

#inner {
    width: 70%;
    margin: auto;
    position: absolute;

    align-self: center;
    position: relative;
    height:300px;
    top:100px;
}

img{
    height:300px;
    float:right;
    margin-left:20px;
}

#h{
    margin-bottom:30px;
}

#get-in-touch {
    background:#F9F9F9;
    height:450px;
    padding:50px;
}

#another {
    color: #000029;
    font-family: Arial;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -1px;
}

button, #sbmt-btn {
    padding: 10px;
    margin: 10px;
    color: rgb(30,48,80);
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    margin: 0;
    border: 1px solid #CBD7E8;
    background: #F9F9F9;
    margin-top: 10px;
}

    button:hover {
        background: #0168FC;
        color: white;
    }

    button:focus {
        background: #0168FC;
        color: white;
    }

#form-div {
    width: 500px;
    float:right;
    margin-right:40px;
}

#interest {
    font-family: 'Segoe UI';
    font-style: normal;
    font-size:18px;
    line-height:40px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CBD7E8;
    border-radius: 600px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

input[type=email], #phone {
    width: 49.5%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CBD7E8;
    border-radius: 600px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

#fname {
    margin-top: 50px;
}

#sbmt-btn {
    background: #0168FC;
    color: white;
    margin-top:50px;
}

#contacts{
    width:40%;
    margin-right:0;
    float:left;
}

#contact{
    margin-top:170px;
}

#icon1, #icon2 {
    padding: 10px;
    margin: 10px;
    color: rgb(30,48,80);
    font-weight: bold;
    display: inline-flex;
    padding: 12px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    margin: 0;
    border: 1px solid #CBD7E8;
    background: #F9F9F9;
    margin-top: 10px;
    margin-right:10px;
}

#cont{
    font-family:'Segoe UI';
    font-weight:bold;
    font-size:110%;
}

#em {
    font-family: 'Segoe UI';
}